<div ng-controller="MainController">
    <div class="center_t" id="Lbut">
        <div class="display_t">
             <div class="login_miek">
                <div class="center_c">
                    <div class="display_t">
                        <img src="img/logo.png" class="logo_size">
                    </div>
                </div>
                <button class="button_login" ng-click="login()">Login with Spotify</button><br><br>
             
            </div>
        </div>
    </div>
</div>
